body {
    background-color: #debff5;
    background-image: url("https://i.pinimg.com/originals/4e/c6/b3/4ec6b330bd7d6bb89cbbac0553336910.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
  }

.aboutMeCard {
     margin: 0 auto;
     float: none; 
     margin-bottom: 10px; 
    text-align: center;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.contactCard {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    text-align: center;
}

.jumbotron{
    background-size: cover;
    padding: 30px 30px 30px 30px;
}

footer {
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #debff5;
    text-align: center; 
    color: white; 
}

.socialC {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
    text-align: center;
    padding: 20px;
}